body {
  background-color: #44b26f;
}

.img-logo-white {
  width: 240px;
  height: 40px;
  margin: 20px 0 0 30px;
}

.pT-buttons-container {
  display: flex;
  justify-content: space-between;
}

.pT-btn {
  margin: 70px 0;
  padding: 16px 20px 16px 60px;
  width: 180px;
  height: 52px;
  text-align: left;
  background: #ffffff;
  color: #44b26f;
  font-size: 16px;
  font-weight: 700;
  border: none;
}

.h2pT-h2 {
  margin-bottom: 75px;
  width: 0 auto;
  font-size: 64px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
}
